<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="static/css/Landing.css" />
    <link rel="stylesheet" href="static/css/login.css" />
  </head>

  <!-- BODY START -->
  <body background="static/resources/Car_bg.jpeg">
    <!-- NAVIGATION BAR -->
    <div class="nav_bar">
      <!-- WEB APP NAME -->
      <div class="content">Charging Station Locator</div>

      <!-- LOGIN BUTTON-->
      <div class="nav_login">
        <button
          onclick="document.getElementById('id01').style.display='block'"
          style="width: auto"
        >
          Login
        </button>
      </div>
      <!-- Overlay Login Old Code Position (Here) -->
    </div>

    <br /><br /><br /><br />
    <!-- FIRST ROW OF CARDS -->
    <div class="row">
      <div>
        <input type="submit" value="Battery Usage" class="card" />
      </div>
      <div>
        <input type="submit" value="Charging Station Map" class="card" />
      </div>
      <div>
        <input type="submit" value="Car Statistics" class="card" />
      </div>
    </div>
    <!-- SECOND ROW OF CARDS -->
    <div class="row">
      <div>
        <input type="submit" value="Dummy Cards" class="card" />
      </div>
      <div>
        <input type="submit" value="to check" class="card" />
      </div>
      <div>
        <input type="submit" value="if background" class="card" />
      </div>
    </div>
    <!-- THIRD ROW OF CARDS -->
    <div class="row">
      <div>
        <input type="submit" value="is fixed" class="card" />
      </div>
      <div>
        <input type="submit" value="or" class="card" />
      </div>
      <div>
        <input type="submit" value="not fixed" class="card" />
      </div>
    </div>

    <!-- OVERLAY LOGIN NEW CODE POSITION -->
    <div id="id01" class="modal">
      <form
        class="modal-content animate"
        action="/action_page.php"
        method="post"
      >
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="uname"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />

          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" />
            Remember me
          </label>
        </div>

        <div class="overlay_foot" style="background-color: rgb(23, 23, 23)">
          <button
            type="button"
            onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn"
          >
            Cancel
          </button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("id01");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
