<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/pre.css" />
    <!-- <meta http-equiv="refresh" content="5;url=index.html" /> -->
    <title>Redirecting to Index</title>
    <script>
      setTimeout(function () {
        window.location.href = "index.html";
      }, 3000); // 3000 milliseconds = 3 seconds
    </script>
  </head>
  <body>
    <div class="loading-screen">
      <img src="https://i.gifer.com/4P4O.gif" alt="Loading..." />
      <div class="text">Loading a sustainable future</div>
    </div>
  </body>
</html>
