<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="\static\css\Signup.css" />
  </head>
  <body background="\static\resources\Signup-bg.png">
    <div class="Nav_Bar">
      <b><h2>Charging Station Locator</h2></b>
    </div>
    <div class="signup_header"><h3>Sign Up</h3></div>
    <div class="name">
        <input type="text" name="name" placeholder="   Name" />
    </div>
    <div class="email">
      <input type="email" name="email" placeholder="   Me@mail.com" />
    </div>
    <div class="password">
      <input type="password" name="password" placeholder="   Pass123" />
    </div>
    <div class="phone"><a href="{{ url_for('signup') }}">Sign In Here! </a></div>

    <div class="phone"><a href="{{ url_for('signin') }}">Sign In Here! </a></div>

    
  </body>
</html>
